body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

#gameInfo {
    text-align: center;
    padding: 20px;
}

#resources {
    display: none;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resources p {
    margin-bottom: 10px;
}

#resources button {
    margin-top: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-info {
    background-color: #007bff;
}

.alert-info p {
    margin: 0;
    color: #fff;
}

