body{
    background-color: rgb(240, 186, 204);
}
#bar1 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: 110%;
    margin-top: -08px;
    height: 120px;
    margin-left: -5%;
   
  }
  
  #itensBar1 {
    margin-top: 13px;
    display: flex;
    align-items: center;
    height:100px;   
  
  }
  
  
  #logoBar {
  
    padding-left: 3%;
    margin-top: 5px;
    height: 80px;
    width: 90px;
    border-radius: 20%;
  
  }
  
  #areaBuscar {
    margin-left: 3%;
    background-color: white;
    border: solid 1px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
  }
  
  #IconLupa {
    margin-left: 10px;  
    height: 80px;
  }
  
  #logo1 {
  
    height: 40px;
  }
  
  #iconCadastro {
    margin-left: 10%;
  
    height: 45px;
    ;
  }
  
h1{margin-left: 5px;}

#btn1{
  display: flex;
 justify-content: center; 
  width: 100%;
 margin-top: 2%;
}

#btnCont{
  margin-left: 50%;
}

button{
  border-radius: 15%;
  background-color: whitesmoke;
  height: 30px;
  border: none;
  font-family:'Times New Roman', Times, serif
}